<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Number</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="card mx-auto mt-5" style="max-width: 500px;">
            <h1 class="text-center">Guess the Number Game</h1>
            <form action="/game/start" method="get">
                <div class="form-group">
                    <label for="maxAttempts">Number of Attempts:</label>
                    <input type="number" class="form-control" id="maxAttempts" name="maxAttempts" min="1" required>
                </div>
                <button type="submit" class="btn btn-custom btn-block">Start Game</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

